<div class="examiner_category">
  <% submited_examiner = category.submited?(group) %>
  <% group.age_section.examiners.each do |examiner| %>
    <% btn_class = submited_examiner.include?(examiner) ? "btn btn-primary" : "btn btn-secondary" %>
    <div class="dropdown">
      <button class="<%= btn_class %> dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= examiner.name %>
      </button>
      <% if submited_examiner.include?(examiner) %>
        <ul class="dropdown-menu">
          <% examiner.criteria_submited(group, category.name).each do |criterium| %>
            <li>
              <p class="dropdown-item"><%= criterium.name %>: <%= criterium.values %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
