<div class="home-show-backround" style="background: url('<%= asset_path "menu_backround.jpg"%>')">
  <div class="space"></div>
  <nav class="home-menu">
    <h1>Menu</h1>
    <%= link_to "admin dashboard", admin_dashboard_path%>
    <%= link_to "examiner dashboard", examiner_dashboard_path%>
    <%= link_to "display screen", home_projection_path%>
  </nav>
</div>
