<div class="logo">
  <%= image_tag "logo.png" %>
</div>

<div class="home-show-backround" >
  <div class="space"></div>
  <nav class="home-menu">
    <h1>Menu</h1>
    <%= link_to "Tableau de bord administrateur", admin_dashboard_path%>
    <%= link_to "Tableau de bord examinateur", examiner_dashboard_path%>
    <%= link_to "Classement", age_sections_path%>
  </nav>
</div>
