<%# app/views/partial/_admin_card.html.erb %>
<% title ||= "Titre" %>
<% value ||= 0 %>
<% icon ||= "group" # Valeur par défaut %>
<div class="stat-card">
  <div class="card-top">
    <div class="icon-box">
      <%= image_tag "#{icon}.svg", alt: "icon" %>
    </div>
    <div class="card-value">
      <%= value %>
    </div>
  </div>

  <div class="card-bottom">
    <p class="card-title"><%= title %></p>
    <span class="card-date"><%= Time.current.strftime("%d %b %H:%M") %></span>
  </div>
</div>
