<div class="content age_sections" id="setting-content" data-controller="status">
  <p>Autorisation du classement</p>
  <label class="switch">
    <input
      type="checkbox"
      data-status-target="toggle"
      data-column="leaderboard"
      <%= "checked" if Status.first.leaderboard %>
    >
    <span class="slider"></span>
  </label>

  <p>Autorisation deuxième évaluation</p>
  <label class="switch">
    <input
      type="checkbox"
      data-status-target="toggle"
      data-column="second_rate"
      <%= "checked" if Status.first.second_rate %>
    >
    <span class="slider"></span>
  </label>

  <p>Autorisation modification évaluation</p>
  <label class="switch">
    <input
      type="checkbox"
      data-status-target="toggle"
      data-column="edit_rate"
      <%= "checked" if Status.first.edit_rate %>
    >
    <span class="slider"></span>
  </label>
</div>
