<%= render "partial/back_button", page_name: "home", page_path: root_path %>
<div class="age-sections-container" style="background: url('<%= asset_path "gradient_purple.avif"%>')">
  <% @age_sections.order(:value).each do |age_section| %>
    <div class="leadeardboard">
      <h1 class="title"><%= age_section.value %> ans</h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th id="topics">Groupes</th>
              <th id="avatars">Evaluation 1</th>
              <th id="replies">Evaluation 2</th>
              <th id="views">Notes Finales</th>
            </tr>
          </thead>

          <tbody id="posts-container">
            <% age_section.groups.order(points: :desc).each do |group| %>
              <%= render "group", group: group %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
