<div id="active-member">
  <% if Session.connection_completed? %>
    <p id="wait-text"><%= examiner_count %>/<%= Examiner.all.count %> examiner found</p>
  <% else %>
    <p id="wait-text">wait for examiner: <%= examiner_count %>/<%= Examiner.all.count %></p>
  <% end %>
</div>
