.age-sections-container {
  display: flex;
  min-width: 100vw;
  justify-content: space-around;
  flex-wrap: wrap !important;
  padding-top: 3rem;
  background-size: cover !important;
  background-position: center !important;

  .age-sections {
    text-align: center;
    width: 45%;
    padding-top: 2rem;
  }
}

.age-title {
  text-align: center;
}

.leadeardboard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  width: 45vw;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

  nav {
    background-color: #D0D0D5 !important;
    padding: 10px 0;
  }
}


.title {
  margin: 25px 0;
  text-align: center;
  color: var(--light-grey);
}

.table-wrapper {
  padding: 0 25px;
  overflow-x: auto;
}

table {
  width: 100%;
  color: #D0D0D5 !important;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: scroll;
}

#topics {
  text-align: start;
  width: 50%;
}

th {
  border-bottom: 1px solid #D0D0D5 !important;
  padding-bottom: 10px;
  font-size: 1rem;

}

tr {
  border-bottom: 1px solid #D0D0D5 !important;
}
td {
  // border-bottom: 1px solid #D0D0D5 !important;
  padding: 20px 0;
}

//age section
.examiner_category {
  display: flex;
  flex-wrap: wrap;

  .dropdown {
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
  }
}

.group-info {
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p {
    margin: 0 !important;
    display: flex;
    align-items: center;

  }

  img {
    width: 5rem;
    aspect-ratio: 1 / 1;
    margin-right: 0.3rem;
  }
}
.marked {
  p {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    padding: 0.9rem;
    border-radius: 50%;
  }
}

.mark-1 {
  padding-top: 20px;
  p {
    background-color: #E4004B;
  }
}

.mark-2 {
  padding-top: 20px;
  p {
    background-color: #ED775A;
  }
}

.mark-3 {
  padding-top: 20px;
  p {
    background-color: #658C58;
  }
}

.mark-4 {
  padding-top: 20px;
  p {
    background-color: #31694E;
  }
}
