@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.logo {
  width: 15vw;
  aspect-ratio: 1 / 1;
  position: fixed;
  box-shadow: 0px 0px 13px 5px rgba(3, 179, 248, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    height: 100%;
  }
}

.full-container {
  min-height: 100vh;
  min-width: 100vw;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.card {
  background-color: #FFFFFF;
  // border: 1px solid;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.default-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.back-button {
  position: fixed;
  // margin-bottom: 1rem;

  a {
    display: flex;
    color: black;

    img {
      width: 20px;
      height: 20px;
      align-self: flex-end;
    }

    h5 {
      margin: 0;
    }
  }
}


#eval-show-container {
  padding: 5em;
}
