@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.logo {
  width: 7vw;
  aspect-ratio: 1 / 1;
  position: fixed;
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  margin-top: 1vh;
  margin-left: 1vw;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.full-container {
  min-height: 100vh;
  min-width: 100vw;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.card {
  background-color: #FFFFFF;
  // border: 1px solid;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.default-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
