@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

home {
  font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  background-color: #F2F4F7;
}


.full-container {
  min-height: 100vh;
  min-width: 100vw;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.instrument-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.card {
  background-color: #FFFFFF;
  // border: 1px solid;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.default-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.back-button {
  position: fixed;
  z-index: 1000;
  // margin-bottom: 1rem;

  a {
    display: flex;
    color: black;

    img {
      width: 20px;
      height: 20px;
      align-self: flex-end;
    }

    h5 {
      margin: 0;
    }
  }
}


#eval-show-container {
  padding: 5em;
}


.burger {
  position: fixed;
  right: 0;
  z-index: 1000;
}

.menu-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
  z-index: 1000;
  a {
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: 1px solid black;
  }
}

.off-btn {
  position: fixed;
  right: 0;
}
