<% if admin_signed_in? || examiner_permited? %>
  <div class="establishement-container">
    <h1>Liste des Etablissements</h1>
    <div class="groups">
      <% @establishments.each do |establishment| %>
        <%= render "establishment", establishment: establishment %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>vous n'avez pas la permission d'acceder a cette page veiller vous renseignez auprés des admins</p>
<% end %>

<% if admin_signed_in? %>
  <%= link_to "Modifier les Critére", criteria_names_path %>
<% end %>
