<%= render "partial/back_button", page_name: "dashboard", page_path: dashboard_path %>
<% if admin_signed_in? || examiner_permited? %>
  <div class="establishement-container">
    <div>
      <h1>Liste des Etablissements</h1>
      <%= link_to "Ajouter", new_establishment_path, data: { turbo: "false" } %>
    </div>
    <% i = 0 %>
    <div class="groups">
      <% @establishments.each do |establishment| %>
        <% i += 1 %>
        <%= render "establishment", establishment: establishment, classement: establishment.valid_eval? ? i : false %>
      <% end %>
    </div>
    <% if admin_signed_in? %>
      <%= link_to "Modifier les Critére", criteria_names_path, class: "add" %>
    <% end %>
  </div>
<% else %>
  <p>vous n'avez pas la permission d'acceder a cette page veiller vous renseignez auprés des admins</p>
<% end %>
